body{
  background-color: whitesmoke;
  text-align: center;
}

li {
  list-style-type: none;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // height: 50%;
  // width: 50%;
}

.gallery{
  display: grid;
  gap: 15 px;
}

.search-form{
  margin-top: 20px;
}

.section {
  display: block;
  color: azure;
}

.search-form__btn {
  color: white;
  background-color: burlywood;
  border-radius: 20%;
  box-shadow: white;
}

.gallery__btn {
  background-color:slategray;
  border-radius: 10%;
  color: aliceblue;
  margin-top: 10px;
}

.search-form__input {
  border-radius: 10%;
}
