<div class="container container__application"> 
  <form class="search-form" id="search-form"> 
    <label class="input-container"> 
      <input class="search-form__input" type="text" name="query" autocomplete="off" placeholder="Search images..."> 
      <span class="search-form__spinner"></span> 
    </label> 
    <button class="search-form__btn" type="submit" data-btn="search">Find</button> 
  </form> 
  <ul class="gallery is-hidden js-gallery list"></ul> 
  <button type="button" class="gallery__btn is-hidden" data-btn="loadMore" disabled=""> Load more </button> 
  <div class="is-hidden js-loader-backdrop loader-backdrop"> 
    <div class="gallery__spinner"></div>
  </div>
</div>  